:root {
    --accent_grey: #eceff1;
    --accent_blue: #2196f3;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}
input, button {
    padding: 10px;
}
.document-buttons::after, .style-buttons::after, #input::after{
    content: "\A";
    display: block;
    white-space: pre;
}
.style-buttons button, .document-buttons button {
    box-shadow: insert, black;
    background: var(--accent_grey);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.document-buttons :focus {
    background: var(--accent_blue);
    top: 1px;
    position: relative;
}
input[type=color] {
    width: 5%;
    height: 35px;
    box-shadow: insert, black;
    background: var(--accent_grey);
    border-radius: 5px;
}
input[type=color]:focus {
    background: black;
    background-color: var(--accent_blue);
    border-radius: 5px;
}
.form-popup {
	display: none;
	border: 3px solid #121212;
	background-color: #fefefe;
	z-index: 9;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 24px;
}
