body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}
input, button {
    padding: 10px;
}
.document-buttons::after, .style-buttons::after, #input::after{
    content: "\A";
    display: block;
    white-space: pre;
}
.style-buttons button {
    box-shadow: insert, black;
    background: linear-gradient(to bottom, #F0EEE2  5%, #99ADB4 100%);
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.style-buttons button:hover {
    background: black;
    background-color: #99ADB4;
}
.style-buttons button:focus {
    background: black;
    background-color: #99ADB4;
}
.style-buttons button:active {
    position: relative;
    top: 1px;
}