body {
    overflow-x: hidden;
    overflow-y: hidden;
}
input, button {
    padding: 10px;
}
.buttons::after {
    content: "\a";
    display: block;
    white-space: pre;
}
#style-button {
    box-shadow: insert, black;
    background: linear-gradient(to bottom,  white  5%, rgb(72, 182, 226) 100%);
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
#style-button:hover {
    background: black;
    background-color:rgb(72, 182, 226);
}
#style-button:active {
    position: relative;
    top: 1px;
}
